@model List<Villa>

<div class="row">
    <div class="proerty-th">
        @foreach(var item in Model)
        {
        <div class="col-sm-6 col-md-3 p0">
            <div class="box-two proerty-item">
                <div class="item-thumb">
                    <a href="property-1.html"><img src="~/garo-estate-master/garo-estate-master/assets/img/demo/property-1.jpg"></a>
                </div>
                <div class="item-entry overflow">
                    <h5><a href="property-1.html">@item.Name </a></h5>
                    <div class="dot-hr"></div>
                    <span class="pull-left"><b>Area :</b> 120m </span>
                    <span class="proerty-price pull-right">$ 300,000</span>
                </div>
            </div>
        </div>
        }
    </div>
</div>